* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
}

/* ÜST MENÜ */
.navbar {
    background-color: #b8a89a;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

/* ANA ALAN */
.container {
    display: flex;
    min-height: 80vh;
    background-color: #1f1b1c;
    color: white;
}

/* SOL */
.left {
    width: 50%;
    padding: 50px;
    border-right: 2px solid white;
}

.left h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: "Times New Roman", serif;
}

.left p {
    line-height: 1.6;
    margin-bottom: 30px;
}

.photo {
    width: 180px;
    border: 5px solid #8c6d52;
}

.photo img {
    width: 100%;
    display: block;
}

/* SAĞ */
.right {
    width: 50%;
    padding: 50px;
}

.right h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.right p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.right a {
    color: #d6bfa7;
    text-decoration: none;
    font-weight: bold;
}

.right a:hover {
    text-decoration: underline;
}

.mail a {
    color: white;
}

/* FOOTER */
footer {
    background-color: #8f8882;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}
